<template>
  <div class="grid grid-cols-5 p-4 bg-white shadow rounded-xl mb-2">
    <th>
      <h4>{{ name }}</h4>
    </th>
    <th>
      <h4>{{ phoneNumber}}</h4>
    </th>
    <th>
      <h4>{{ itemStartTime }}</h4>
    </th>
    <th>
      <h4>{{ itemEndTime }} ( {{itemDuration}} )</h4>
    </th>
    <th>
      <h4>{{generalPrice}} тг. </h4>
    </th>
  </div>
</template>

<script>
  export default {
    props: {
      phoneNumber: {
        type: String,
        required: true,
        default: 'No Data',
      },
      startTime: {
        type: String,
        required: true,
        default: 'No Data',
      },
      endTime: {
        type: String,
        required: true,
        default: 'No Data',
      },
      name: {
        type: String,
        required: true,
        default: 'No Data',
      },
      generalPrice: {
        type: Number,
        required: true,
        default: 0,
      },
    },
    data(){
      return {}
    },
    computed: {
      itemStartTime() {
        const startDate = new Date(this.startTime);
        const res = `${startDate.getHours()}:${startDate.getMinutes()}`;
        return res;
      },
      itemEndTime() {
        const endDate = new Date(this.endTime);
        const res = `${endDate.getHours()}:${endDate.getMinutes()}`;
        return res;
      },
      itemDuration(){
        const startDate = new Date(this.startTime);
        const endDate = new Date(this.endTime)
        const duration = endDate.getTime() - startDate.getTime()
        const res = this.secondsToTime(duration)
        
        return res.hours + ':' + res.minutes
      },
    },
    methods: {
      secondsToTime(milisecs) {
        let secs = milisecs / 1000
        secs = Math.round(secs);
        const hours = Math.floor(secs / (60 * 60));

        const divisorForMinutes = secs % (60 * 60);
        const minutes = Math.floor(divisorForMinutes / 60);

        const divisorForSeconds = divisorForMinutes % 60;
        const seconds = Math.ceil(divisorForSeconds);
        const obj = {
          hours, minutes, seconds
        }
        return obj
      },
    }
  }
</script>

<style scoped>
  .item {
    height: 62px;

    background: #ffffff;
    /* Drop Shadow Small */

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
  h4 {
    display: block;
    align-items: center;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    /* Grayscale / Body */

    color: #4e4b66;
  }
  img {
    width: 24px;
    height: 24px;
  }
</style>
