<template>
  <div class="grid grid-cols-5 p-4 bg-white shadow rounded-xl mb-2">
    <th>
      <h4>{{ phoneNumber || 'No phone' }}</h4>
    </th>
    <th>
      <h4>{{ itemStartTime || 'No startTime' }}</h4>
    </th>
    <th>
      <h4>{{ name || 'No Name' }}</h4>
    </th>
    <th>
      <h4>{{ itemDuration.hours + ':' + itemDuration.minutes  }}</h4>
    </th>
    <th v-if="!canceled" class="flex justify-center items-center">
      <div class="flex flex-row justify-center">
        <button class="mr-4" @click="finishTraining">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-red-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
        <button v-if="upcoming" @click="startSessionOwner">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-green-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </button>
      </div>
    </th>
  </div>
</template>
<script>
  import startSessionOwner from '~/graphql/mutations/startSession';
  import finishTraining from '~/graphql/mutations/finishTraining';
  export default {
    props: {
      serviceId: {
        type: String,
        required: true,
        default: 'No Data',
      },
      userId: {
        type: String,
        required: true,
        default: 'No Data',
      },
      phoneNumber: {
        type: String,
        required: true,
        default: 'No Data',
      },
      startTime: {
        type: String,
        required: true,
        default: 'No Data',
      },
      endTime: {
        type: String,
        required: true,
        default: 'No Data',
      },
      name: {
        type: String,
        required: true,
        default: 'No Data',
      },
      upcoming: {
        type: Boolean,
        required: false,
        default: false,
      },
      canceled: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    data() {
      return {};
    },
    computed: {
      itemStartTime() {
        const startDate = new Date(this.startTime);
        const res = `${startDate.getHours()}:${startDate.getMinutes()}`;
        return res;
      },
      itemDuration(){
        const startDate = new Date(this.startTime);
        const endDate = new Date(this.endTime)
        const duration = endDate.getTime() - startDate.getTime()
        const res = this.secondsToTime(duration)
        
        return res
      }
    },
    methods: {
      secondsToTime(milisecs) {
        let secs = milisecs / 1000
        secs = Math.round(secs);
        const hours = Math.floor(secs / (60 * 60));

        const divisorForMinutes = secs % (60 * 60);
        const minutes = Math.floor(divisorForMinutes / 60);

        const divisorForSeconds = divisorForMinutes % 60;
        const seconds = Math.ceil(divisorForSeconds);
        const obj = {
          hours, minutes, seconds
        }
        return obj

      },
      startSessionOwner(){
        const duration = this.itemDuration.hours + (this.itemDuration.minutes / 60)
        this.$apollo.mutate({
          mutation: startSessionOwner,
          variables: {
            userId: this.userId,
            duration,
            serviceId: this.serviceId,
          },
          context: {
            headers: {
              Authorization: localStorage.getItem('JWT'),
            },
          },
        }).then(res => {
          this.$emit('start')
        }).catch(err => alert(err.message));
      },
      cancelSessionOwner(){

      },
      finishTraining(){
        this.$apollo
          .mutate({
            mutation: finishTraining,
            variables: {
              userId: this.userId,
            },
            context: {
              headers: {
                Authorization: localStorage.getItem('JWT'),
              },
            },
          })
          .then(res => {
            console.log('Finish Training Success!', res);
            this.$emit('endTraining')
          });
      }
    },
  };
</script>
<style scoped>
  .item {
    height: 62px;

    background: #ffffff;
    /* Drop Shadow Small */

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
  h4 {
    display: block;
    align-items: center;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    /* Grayscale / Body */

    color: #4e4b66;
  }
  img {
    width: 24px;
    height: 24px;
  }
</style>
