<template>
  <div class="bg-white rounded-md h-auto w-full flex flex-col items-center p-4">
    <span class="text-xl font-bold capitalize mb-4">{{ serviceType }}</span>
    <form class="w-full">
      <div class="w-full flex justify-evenly items-center text-sm font-semibold text-lg">
        <label v-for="(weekday, i) in weekStrings" :key="i" class="cursor-pointer flex items-center justify-center">
          <input id="i" v-model="weekdayIndex" type="radio" name="weekday" :value="i" class="capitalize hidden" />
          <span v-if="weekdayIndex === i" class="text-purple-500">{{ weekday }}</span>
          <span v-else>{{ weekday }}</span>
        </label>
      </div>
    </form>

    <div class="w-full rounded-md overflow-hidden mt-4 border border-purple-400">
      <div class="grid grid-cols-6 divide-x divide-purple-400 border-purple-400 border-b font-semibold">
        <div class="col-start-1 col-end-4 w-full flex items-center justify-start px-4 py-2">Время:</div>
        <div class="col-start-4 col-end-6 w-full flex items-center justify-start px-4 py-2">Кол-во людей:</div>
        <div class="w-full flex items-center justify-start px-4 py-2">Цена:</div>
      </div>

      <div
        v-for="(service, i) in weekdayServices"
        :key="i"
        class="grid grid-cols-6 divide-x divide-purple-400 border-purple-400 underline font-light text-sm"
      >
        <div class="col-start-1 col-end-4 w-full flex items-center justify-start px-4 py-2">
          <button @click="$emit('onDeleteService', service)" class="mr-2 text-red-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </button>
          <span>{{ getTimeService(service) }}</span>
        </div>
        <div class="col-start-4 col-end-6 w-full flex items-center justify-center px-4 py-2">
          {{ service.capacity }}
        </div>
        <div class="w-full flex items-center justify-center px-4 py-2">{{ service.price }} тг</div>
      </div>
      <div class="grid grid-cols-6 divide-x divide-purple-400 border-purple-400 underline font-light text-sm">
        <div class="col-start-1 col-end-4 w-full flex items-center justify-start px-4 py-2">
          <button class="mr-2 text-green-500 flex items-center rotate-45" @click.prevent="addService">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mr-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <span class="no-underline"> Добавить </span>
          </button>
        </div>
        <div class="col-start-4 col-end-6 w-full flex items-center justify-center px-4 py-2"></div>
        <div class="w-full flex items-center justify-center px-4 py-2"></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      services: {
        type: Object,
        required: true,
        default() {
          return {};
        },
      },
      serviceType: {
        type: String,
        required: true,
        default: '',
      },
    },
    data() {
      return {
        weekdayIndex: 0,
        weekStrings: ['пн', 'вт', 'ср', 'чр', 'пт', 'сб', 'вс'],
      };
    },
    computed: {
      weekdayServices() {
        return [...(this.services[this.weekdayIndex] ?? [])];
      },
    },
    methods: {
      addService() {
        this.$emit('onServiceAdd', {
          type: this.serviceType,
          weekdayIndex: this.weekdayIndex,
        });
      },
      getTimeService(service) {
        const startTime = new Date(service.startTime);
        const endTime = new Date(service.endTime);
        const startTimeString = `${startTime.getHours()}:${startTime.getMinutes()}`;
        const endTimeString = `${endTime.getHours()}:${endTime.getMinutes()}`;
        return `${startTimeString} - ${endTimeString}`;
      },
    },
  };
</script>

<style></style>
