.title>.text {
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 2vh;
    text-decoration-line: underline;
    color: #7E3EEA;
    margin-left: 2vh;
    cursor: pointer;
}

.export-block{
    padding-top: 1.4vh;
    cursor: pointer;
}

.title-block .title span, .title-block .title .text{
    display: inline-block;
    vertical-align: bottom;
    width: fit-content;
    vertical-align: text-top;
}

.export-block .text{
    font-weight: 500;
    font-size: 2vh;
    line-height: 2vh;
    text-decoration-line: underline;
    color: #7E3EEA;
    margin-right: 1vh;
    display: inline-block;
    vertical-align: middle;
}

.export-block .icon{
    width: 2.5vh;
    height: 2.5vh;
    background-image: url(../images/export.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.info-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4vh;
}

.info-block .item{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.info-block .item .title-block .title{
    font-weight: 500;
    font-size: 4vh;
    line-height: 5vh;
    color: #4E4B66;
    display: inline-block;
    vertical-align: super !important;
    width: fit-content;
}

.info-block .item .title-block .text, .title-block .title .text {
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 2.5vh;
    text-decoration-line: underline;
    color: #7E3EEA;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    margin-left: 2vh;
    width: 18vh;
    border-radius: 3vh 3vh 0vh 0vh;
    /* padding: 2vh; */
    padding-bottom: 0pc;
    text-align: left;
    height: fit-content;
    background: inherit;
    border: none;
    padding-left: 1vh;
    padding-right: 1vh;
    transition: none;
}
.info-block .item .title-block .text.active, .title-block .title .text.active{
    background: white;
    border: 1px solid #D9DBE9;
    text-decoration-line: none;
}

.info-block .item .count{
    font-weight: 600;
    font-size: 5.5vh;
    line-height: 13vh;
    color: #00CC67;
}

.info-block .item .title-block .select{
    background: #FFFFFF;
    border: 1px solid #D9DBE9;
    box-sizing: border-box;
    border-radius: 2vh;
    padding: 1vh;
}

select::-ms-expand{
    display: none;
}

th div{
    position: relative;
}

th div .filter-block{
    position: absolute;
    width: 100%;
    height: 150%;
    left: 0px;
    top: 100%;
    background: #7F3FEB;
    border-radius: 0px 0px 3vh 3vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

th div .filter-block-active{
    display: flex !important;
}

.filter-block label {
    width: fit-content;
    margin-left: 1vh;
}

.filter-block .filter-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.filter-input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.filter-input+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 50%;
    margin-right: 2vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 49%;
}
.filter-input:checked+label::before {
    background-image: url(../images/checked.png);
}
/* стили при наведении курсора на checkbox */
.filter-input:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.filter-input:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.filter-input:disabled+label::before {
    background-color: #e9ecef;
}


.filter-block .filter-input {
    width: fit-content;
    padding: 1vh;
    color: white;
    font-weight: 500;
    font-size: 3vh;
    line-height: 3vh;
    text-align: left;
    margin-top: 0.6vh;
}

.filter-block .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 3vh;
}


/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .title-block .text.active .select-selected {
    background-color: white;
  }

  .select-selected{
      background-color: inherit;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div, .select-selected {
    padding: 1vh;
    padding-top: 1.5vh;
    color: #7E3EEA;
    cursor: pointer;
    text-decoration: none;
    /* text-align: center; */
}
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    color: #7E3EEA;
    border-left: 0.2vh solid #ced4da;
    border-right: 0.2vh solid #ced4da;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 99;
    border-radius: 0vh 0vh 3vh 3vh;
    padding: 1vh;
    padding-top: 0vh;
}
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
