@font-face {
	font-family: 'Montserrat Black';
	src: url('../fonts/montserrat_black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_black.svg#montserrat_black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Black Italic';
	src: url('../fonts/montserrat_black_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_black_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_black_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_black_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_black_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_black_italic.svg#montserrat_black_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/montserrat_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_bold.svg#montserrat_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Bold Italic';
	src: url('../fonts/montserrat_bold_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_bold_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_bold_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_bold_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_bold_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_bold_italic.svg#montserrat_bold_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat ExtraBold';
	src: url('../fonts/montserrat_extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_extrabold.svg#montserrat_extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat ExtraBold Italic';
	src: url('../fonts/montserrat_extrabold_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_extrabold_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_extrabold_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_extrabold_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_extrabold_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_extrabold_italic.svg#montserrat_extrabold_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat ExtraLight';
	src: url('../fonts/montserrat_extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_extralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_extralight.svg#montserrat_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat ExtraLight Italic';
	src: url('../fonts/montserrat_extralight_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_extralight_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_extralight_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_extralight_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_extralight_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_extralight_italic.svg#montserrat_extralight_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Italic';
	src: url('../fonts/montserrat_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_italic.svg#montserrat_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('../fonts/montserrat_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_light.svg#montserrat_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Light Italic';
	src: url('../fonts/montserrat_light_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_light_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_light_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_light_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_light_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_light_italic.svg#montserrat_light_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Medium';
	src: url('../fonts/montserrat_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_medium.svg#montserrat_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Medium Italic';
	src: url('../fonts/montserrat_medium_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_medium_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_medium_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_medium_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_medium_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_medium_italic.svg#montserrat_medium_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/montserrat_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_regular.svg#montserrat_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat SemiBold';
	src: url('../fonts/montserrat_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_semibold.svg#montserrat_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat SemiBold Italic';
	src: url('../fonts/montserrat_semibold_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_semibold_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_semibold_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_semibold_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_semibold_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_semibold_italic.svg#montserrat_semibold_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Thin';
	src: url('../fonts/montserrat_thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_thin.svg#montserrat_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Montserrat Thin Italic';
	src: url('../fonts/montserrat_thin_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/montserrat_thin_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/montserrat_thin_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/montserrat_thin_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/montserrat_thin_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/montserrat_thin_italic.svg#montserrat_thin_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

