.save-button {
  background: #7e3eea;
  border-radius: 1vh;
  color: white;
  font-weight: 500;
  font-size: 2.5vh;
  padding: 1vh;
  padding-left: 4vh;
  text-align: center;
  padding-right: 4vh;
  cursor: pointer;
}

.switch-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 37%;
  margin-top: 7vh;
}

.switch-block .section {
  font-weight: 500;
  font-size: 3vh;
  line-height: 3vh;
  color: #6e7191;
  cursor: pointer;
}

.switch-block .section.active {
  cursor: default;
  color: #7e3eea;
  font-weight: 600;
}

.schedule-block {
  width: 100%;
  display: none;
  /* height: 60vh; */
  /* overflow-y: auto; */
}

.schedule-block.active {
  display: block;
}

.schedule-block > .title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7vh;
}

.schedule-block > .title-block > .text {
  font-weight: 600;
  font-size: 2.5vh;
  line-height: 2.5vh;
  color: #262338;
}
.schedule-block .title-block .add-section-block {
  cursor: pointer;
}

.add-section-block .add-section {
  width: 2vh;
  height: 2vh;
  background-image: url(../images/add_section.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 1vh;
  vertical-align: middle;
}

.add-section-block .text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 2vh;
  line-height: 2vh;
  color: #6e7191;
}

.schedules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7vh;
}

.schedules > .item {
  width: 45%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 1vh 2vh rgba(0, 0, 0, 0.02);
  border-radius: 1vh;
  padding: 2vh;
  margin-bottom: 5vh;
}

.schedules > .item > .title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.schedules > .item > .title-block > .text {
  font-weight: 600;
  font-size: 2vh;
  line-height: 2vh;
  color: #262338;
  width: fit-content;
  border: none;
  text-align: center;
  cursor: pointer;
}

.schedules > .item > .title-block > .text:focus {
  border-bottom: 0.1vh solid #6e7191;
  outline: none;
}

.schedules > .item > .title-block > .options {
  width: 2vh;
  height: 2vh;
  background-image: url(../images/options.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.schedules > .item > .title-block > .options-block {
  background: #ffffff;
  border: 0.1vh solid #d9dbe9;
  box-shadow: 0px 1vh 2vh rgb(0 0 0 / 2%);
  border-radius: 1vh 0px 1vh 1vh;
  position: absolute;
  top: 125%;
  right: 1vh;
  width: 16vh;
  padding: 1vh;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  cursor: pointer;
}

.options-block.active {
  display: flex !important;
}

.options-block .delete {
  width: 2vh;
  height: 2vh;
  background-image: url(../images/delete.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.options-block .text {
  font-weight: 500;
  font-size: 1.5vh;
  line-height: 2vh;
  color: #262338;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-top: 2vh;
}

.days .day {
  font-weight: 500;
  font-size: 2vh;
  line-height: 2vh;
  color: #6e7191;
  cursor: pointer;
}

.days .day.active {
  color: #7e3eea;
  font-weight: 600;
}

table.schedule {
  border: 0.1vh solid #7e3eea;
  box-sizing: border-box;
  border-radius: 1vh;
  border-collapse: inherit;
  width: 100%;
  margin-top: 2vh;
  border-spacing: inherit;
  display: none;
}

table.schedule.active {
  display: block;
}

table.schedule th,
table.schedule td {
  padding: 3vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

table.schedule th.center,
table.schedule td.center {
  border-left: 0.1vh solid #7e3eea;
  border-right: 0.1vh solid #7e3eea;
}

.text-center {
  text-align: center;
}

table.schedule th {
  color: #4e4b66;
  font-weight: 600;
  font-size: 2vh;
  line-height: 2vh;
}

table.schedule td {
  font-size: 1.5vh;
  line-height: 1.5vh;
  color: #6e7191;
  font-weight: 500;
}

table.schedule td .delete-schedule {
  width: 2vh;
  height: 2vh;
  background-image: url(../images/table_delete.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1vh;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
table.schedule td .add-schedule {
  width: 2vh;
  height: 2vh;
  background-image: url(../images/add_schedule.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
table.schedule td .time {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
  border-bottom: 0.1vh solid #6e7191;
  text-align: center;
  font-size: 1.5vh;
  line-height: 1.5vh;
  padding: 0px;
  color: #6e7191;
  cursor: pointer;
}

.schedules > .item > .save {
  border: 0.1vh solid #7e3eea;
  border-radius: 1vh;
  padding: 1vh;
  font-size: 2vh;
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
  margin: auto;
  margin-top: 2vh;
  color: #7e3eea;
  width: fit-content;
  cursor: pointer;
}

td span.price {
  border-bottom: 0.1vh solid #6e7191;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0.3vh;
  margin-left: -0.4vh;
}

input.count,
input.count:focus {
  border: none;
  outline: none;
  border-bottom: 0.1vh solid #6e7191;
  width: 3vh;
  color: #6e7191;
  cursor: pointer;
  padding: 0px;
}
input.price,
input.price:focus {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
  border-bottom: 0.1vh solid #6e7191;
  width: 4vh;
  color: #6e7191;
  cursor: pointer;
  padding: 0px;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.main-settings {
  width: 100%;
  display: none;
}
.main-settings.active {
  display: block;
}

.main-settings > .info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.main-settings > .info-block > .info {
  width: 55%;
}
.main-settings > .info-block > .info > .title {
  font-weight: 600;
  font-size: 2.5vh;
  line-height: 2.5vh;
  color: #262338;
  margin-bottom: 4vh;
}

.main-settings > .info-block > .info > .text,
.main-settings > .info-block > .info > .text:focus {
  background: #ffffff;
  padding: 2vh;
  padding-left: 3vh;
  font-size: 2vh;
  line-height: 3vh;
  color: #262338;
  border: none;
  outline: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.02);
  margin-bottom: 4vh;
  width: 100%;
}

.main-settings > .info-block > .info > .text.textarea {
  height: 11vh;
  outline: none;
  resize: none;
}

.hide-input {
  position: absolute;
  z-index: -11;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.main-settings > .info-block > .main-photo {
  width: 35%;
  height: 0px;
  padding-bottom: 28%;

  border-radius: 2vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

.main-settings > .info-block > .main-photo > .plus {
  position: absolute;
  width: 6vh;
  height: 6vh;
  background-image: url(../images/add_photo.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 12vh;
  right: 20vh;
}

.main-settings > .info-block > .main-photo > .text {
  font-weight: 600;
  font-size: 2.5vh;
  line-height: 3.5vh;
  text-align: center;
  position: absolute;
  top: 20vh;
  right: 8vh;
  width: 30vh;
  color: #ffffff;
}

.main-settings > .price-block {
  margin-top: 1vh;
  width: 50vh;
}
.main-settings > .price-block > .title {
  font-weight: 600;
  font-size: 2.5vh;
  line-height: 3vh;
  color: #262338;
  margin-bottom: 4vh;
}
.main-settings > .price-block > .types,
.main-settings > .price-block > .prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.main-settings > .price-block > .types > .text {
  width: 50%;
  max-width: 50%;
  padding: 2vh;
  text-align: center;
  color: #a0a3bd;
  font-weight: 500;
  font-size: 2vh;
  border: 0.1vh solid #7e3eea;
  line-height: 1vh;
  cursor: pointer;
}

.main-settings > .price-block > .types > .text.active {
  color: white;
  background: #7f3feb;
  cursor: default;
}

.main-settings > .price-block > .types > .text.left {
  border-radius: 1vh 0px 0px 0px;
}
.main-settings > .price-block > .types > .text.right {
  border-radius: 0px 1vh 0px 0px;
}

.main-settings > .price-block > .prices > .item {
  width: 50%;
  max-width: 50%;
  padding: 1vh;
  text-align: center;
  border: 0.1vh solid #d9dbe9;
}

.main-settings > .price-block > .prices > .item.right {
  border-radius: 0px 0px 1vh 0px;
}
.main-settings > .price-block > .prices > .item.left {
  border-radius: 0px 0px 0px 1vh;
}

.main-settings > .price-block > .prices > .item > .price {
  background: inherit;
  width: 2.5vh;
  font-size: 1.7vh;
  line-height: 2.5vh;
}

.main-settings > .price-block > .prices > .item.active > .price,
.main-settings > .price-block > .prices > .item.active > .span {
  color: #7e3eea;
  border-bottom: 0.1vh solid #7e3eea;
}
.main-settings > .price-block > .prices > .item > .span {
  font-size: 1.7vh;
  line-height: 2.5vh;
  font-weight: 500;
  border-bottom: 0.1vh solid #6e7191;
  color: #a0a3bd;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.7vh;
}

.gallery-block {
  width: 100%;
}

.gallery-block > .title {
  font-size: 2.5vh;
  font-weight: 600;
  line-height: 3vh;
  margin-bottom: 3vh;
  margin-top: 5vh;
}

.gallery-block > .photos {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.gallery-block > .photos > .photo-block {
  width: 21%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 3.7%;
  margin-bottom: 3vh;
}

.gallery-block > .photos > .upload-photo {
  width: 21%;
  position: relative;
  height: 0px;
  padding-bottom: 21%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23333' stroke-width='2' stroke-dasharray='11' stroke-dashoffset='49' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 2vh;
  cursor: pointer;
}

.gallery-block > .photos > .photo-block > .photo {
  border-radius: 2vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
}
.gallery-block > .photos > .photo-block > .tools {
  max-width: 100%;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.gallery-block > .photos > .photo-block > .tools > .download,
.gallery-block > .photos > .photo-block > .tools > .delete {
  width: 3vh;
  height: 3vh;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.gallery-block > .photos > .photo-block > .tools > .download {
  background-image: url(../images/download.png);
}
.gallery-block > .photos > .photo-block > .tools > .delete {
  background-image: url(../images/delete_photo.png);
}

.gallery-block > .photos > .upload-photo > .plus {
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-image: url(../images/add_section.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 9vh;
  right: 11.5vh;
}

.gallery-block > .photos > .upload-photo > .text {
  font-weight: 600;
  font-size: 2vh;
  line-height: 2.5vh;
  text-align: center;
  color: #a0a3bd;
  position: absolute;
  top: 16vh;
  right: 6.5vh;
  width: 15vh;
  text-align: center;
}

.contacts {
  width: 70%;
  height: auto;
}

.contacts > .title {
  font-size: 2.5vh;
  font-weight: 600;
  line-height: 3vh;
  margin-bottom: 3vh;
  margin-top: 5vh;
}

.contacts > .contact-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4vh;
}

.contacts > .contact-block > .item,
.contacts > .contact-block > .item:focus {
  width: 43%;
  background: #ffffff;
  box-shadow: 0px 1vh 2vh rgba(0, 0, 0, 0.02);
  padding: 2vh;
  padding-left: 3vh;
  font-size: 2vh;
  line-height: 2vh;
  color: #262338;
  border: none;
  outline: none;
}

.contacts > .contact-block > .delete {
  position: absolute;
  top: 1.5vh;
  right: -7vh;
  width: 3vh;
  height: 3vh;
  background-image: url(../images/delete_contact.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.contacts > .add-contact {
  width: auto;
  margin-bottom: 4vh;
  cursor: pointer;
}

.contacts > .add-contact > .plus {
  background-image: url(../images/add_contact.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1vh;
  width: 2vh;
  height: 2vh;
  display: inline-block;
  vertical-align: middle;
}

.contacts > .add-contact > .text {
  font-weight: 6500;
  font-size: 2vh;
  line-height: 2vh;
  color: #7e3eea;
  display: inline-block;
  vertical-align: middle;
}
