<template>
  <div class="main-wrap hide-on-mobile">
    <div class="main-sidebar">
      <div class="header mt-8">
        <div class="left-side">
          <div class="avatar-wrap">
            <img class="avatar" src="~/assets/images/user.png" />
          </div>
          <div class="content">
            <div class="up-text">id23874682</div>
            <div class="down-text">Администратор</div>
          </div>
        </div>
        <div class="right-side">
          <img class="bottom-arrow" src="~/assets/images/down_arrow.png" />
          <div class="notification" onclick="showElement('notifications')" title="Уведомления">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div class="space-y-4 flex flex-col h-96 justify-center text-lg font-semibold">
        <div class="">Главная</div>
        <NuxtLink to="/dashboard" class="ml-8">Сейчас тренируются</NuxtLink>
        <NuxtLink to="/dashboard/reservations" class="ml-8">Поступающие брони</NuxtLink>
        <NuxtLink to="/dashboard/" class="ml-8">Отклоненные</NuxtLink>

        <NuxtLink to="/settings" class="">Настройки клуба</NuxtLink>
        <NuxtLink to="/history" class="">История</NuxtLink>
        <div class="border-black"></div>
        <button class="ml-8 font-bold" @click="logout">Выйти</button>
      </div>
      <div class="bottom">
        <div class="flex items-center justify-center space-y-4">
          <a to="tel:+7(775)227-77-47" class="text-lg tracking-Nu/a">+ 7(775)227-77-47</a>
        </div>
        <div class="logo"></div>
      </div>
    </div>
    <div class="content-wrap">
      <Nuxt />
    </div>
  </div>
</template>
<script>
  export default {
    mounted() {
      localStorage.getItem('JWT');
      localStorage.getItem('CLUB_ID');
    },
    methods: {
      logout() {
        localStorage.removeItem('JWT');
        localStorage.removeItem('CLUB_ID');
        this.$router.push('/');
      },
    },
  };
</script>
