<template>
  <div class="content-block">
    <router-view></router-view>
  </div>
</template>

<script>
  import getCurrentSessionsByClub from '~/graphql/queries/currentSessions';

  export default {
    data() {
      return {
        sessions: [],
      };
    },
    mounted() {
      this.$apollo
        .query({
          query: getCurrentSessionsByClub,
          variables: {
            page: 1,
          },
          context: {
            headers: {
              Authorization:
                'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MGY1YTMwMDkyMjExOGZkODY5Y2U2ZjEiLCJkYXRlQWRkZWQiOiIyMDIxLTA4LTA5VDE2OjM2OjU1LjI4M1oiLCJwaG9uZU51bWJlciI6Ijc3MDExMTExMTIyIiwiZW1haWwiOiJpcmxlbkBnbWFpbC5jb20iLCJpYXQiOjE2Mjg1MjcwMTUsImV4cCI6MTY2MDA2MzAxNSwiYXVkIjoiIiwiaXNzIjoiIiwic3ViIjoiIn0.U0hfrzL1T_tiDlwMvtPDTOdHScBjuENfaZXiSTCf2ETmRcah4I6H2UG75OjBkO-gGcMcRAo5NqRHIJrps_60l0O6eR1g7sEiKu9lJ400gRHRIodTNu8t8sPQDW-vHy24JKXqvHJYQC3lXA0Z26hMRh0sCaNK-0X2Y1gDAaUR_Yg',
            },
          },
        })
        .then(res => {
          this.sessions = res.data.getCurrentSessionsByClub;
        });
    },
  };
</script>
