<template>
  <div class="content-block">
    <div class="info-block">
      <div class="item">
        <div class="title-block">
          <div class="title">Общая выручка</div>
          <div class="custom-select text">
            <!-- TODO: CUSTUM SELECT MONTHS -->
          </div>
        </div>
        <div class="count">{{ earnings }} тг.</div>
      </div>
      <div class="item">
        <div class="title-block">
          <div class="title">Кол-во посещений</div>
          <div class="custom-select text">
            <!-- TODO: CUSTUM SELECT MONTHS -->
          </div>
        </div>
        <div class="count">{{ reservationsHistory.length }}</div>
      </div>
    </div>
    <div class="title-block">
      <div class="title">
        <span>История посещений</span>
        <div class="custom-select text">
          <!-- TODO: CUSTUM SELECT MONTHS -->
        </div>
      </div>
      <div class="export-block">
        <!-- TODO: EXPORT DATA -->
        <div class="text">Экспортировать данные</div>
        <div class="icon"></div>
      </div>
    </div>
    <div class="grid grid-cols-5 place-items-center p-4 bg-primary rounded-xl mb-2">
      <div class=""> 
        <th><h3 class="text-xl text-white font-bold font-sans">Имя</h3></th>
      </div>
       <div class=""> 
        <th><h3 class="text-xl text-white font-bold font-sans">Телефон</h3></th>
      </div>
       <div class=""> 
        <th><h3 class="text-xl text-white font-bold font-sans">Время Начала</h3></th>
      </div>
       <div class=""> 
        <th><h3 class="text-xl text-white font-bold font-sans">Время Окончания</h3></th>
      </div>
      <div class=""> 
        <th><h3 class="text-xl text-white font-bold font-sans">Оплата</h3></th>
      </div>
    </div>
    <div v-for="(reservation, index) in reservationsHistory" :key="index"> 
      <HistoryRowItem :name="reservation.user.fullName" :phoneNumber="reservation.user.phoneNumber" :startTime="reservation.startTime" :endTime="reservation.endTime" :generalPrice="reservation.generalPrice"/> 
    </div>
  </div>
</template>

<script>
  import getHistoryOfVisitations from '../graphql/queries/getHistoryOfVisitations';
  export default {
    data() {
      return {
        reservationsHistory: [],
      };
    },
    mounted() {
      this.$apollo
        .query({
          query: getHistoryOfVisitations,
          variables: {
            page: 1,
          },
          context: {
            headers: {
              Authorization: localStorage.getItem('JWT'),
            },
          },
        })
        .then(res => {
          this.reservationsHistory = res.data.getHistoryOfVisitations;
          console.log(this.reservationsHistory);
        });
    },
    computed: {
      earnings(){
        return this.reservationsHistory.reduce((a, b) => a + (b.generalPrice || 0), 0)
      }
    },
  };
</script>

<style></style>
