<template>
  <div>
    <div class="show-on-mobile">
      <h1 class="mobile-alert">Мобильная версия не доступна!</h1>
    </div>
    <div class="gantel1 hide-on-mobile"></div>
    <div class="gantel2 hide-on-mobile"></div>

    <div class="login-wrap hide-on-mobile">
      <div class="logo"></div>
      <form class="login-form" @submit.prevent="loginQuery">
        <div class="title">Вход</div>

        <div class="input-title">Логин</div>
        <input
          v-model="email"
          type="text"
          class="bg-gray-100 w-full py-2 px-4 rounded-md placeholder-purple-400 mb-4"
          name="login"
        />

        <div class="input-title">Пароль</div>
        <input
          v-model="password"
          type="password"
          class="bg-gray-100 w-full py-2 px-4 rounded-md placeholder-purple-400 mb-4"
          name="password"
        />

        <button class="save" type="submit">Сохранить</button>
      </form>
    </div>
  </div>
</template>

<script>
  import LOGIN_QUERY from '~/graphql/queries/login';
  // import {gql} from 'graphql-tag';
  export default {
    layout: 'login',
    data() {
      return {
        email: '',
        password: null,
        loading: false,
      };
    },
    beforeMount() {
      const token = localStorage.getItem('JWT');
      if (token) {
        this.$router.push('dashboard');
      }
    },
    // TODO: probably Rewrite this query
    methods: {
      // async login() {
      //   try {
      //     console.log(this.email, this.password);
      //     const res = await this.$axios.post('rest/user/login', {
      //       email: this.email,
      //       password: this.password,
      //     });

      //     if (res) {
      //       this.loading = false;
      //       console.log(res);
      //       const {token, ownedClubID} = res?.data?.adminLogin;
      //       localStorage.setItem('JWT', token);
      //       localStorage.setItem('CLUB_ID', ownedClubID);
      //       this.$router.push('dashboard');
      //     }
      //   } catch (err) {
      //     console.log(err);
      //     this.loading = false;
      //   }
      // },
      async loginQuery() {
        try {
          const res = await this.$apollo.query({
            query: LOGIN_QUERY,
            variables: {
              email: this.email,
              password: this.password,
            },
          });
          if (res) {
            this.loading = false;
            const {token, ownedClubID, fullName} = res?.data?.loginOwner;
            localStorage.setItem('JWT', token);
            localStorage.setItem('CLUB_ID', ownedClubID);
            localStorage.setItem('FULLNAME', fullName);
            this.$router.push('dashboard');
          }
        } catch (err) {
          console.log(err);
        }
      },
    },
  };
</script>

<style></style>
