<template>
  <div class="content-block">
    <div class="title-block">
      <div class="title">Клуб {{ club.name }}</div>
    </div>

    <div class="switch-block">
      <NuxtLink to="/settings" class="section">Основные</NuxtLink>
      <NuxtLink to="/settings/schedule" class="section">График работы</NuxtLink>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
  import {gql} from 'graphql-tag';
  export default {
    data() {
      return {
        club: {
          name: '',
        },
      };
    },
    // Is this nneded?
    mounted() {
      this.$apollo
        .query({
          query: gql`
            query {
              getClubAdminOwner {
                name
              }
            }
          `,
          context: {
            headers: {
              Authorization: localStorage.getItem('JWT'),
            },
          },
        })
        .then(res => {
          this.club = res.data.getClubAdminOwner;
          console.log('This is Club Data', this.club);
        });
    },
  };
</script>

<style scoped>
  a.nuxt-link-exact-active {
    color: #7e3eea;
    font-weight: 600;
  }
</style>
