<template>
  <div id="main_settings" class="main-settings active mt-8">
    <div class="info-block">
      <!-- <div class="info">
        <div class="title">Адрес:</div>
        <input v-model="club.address" type="text" name="addres" class="text" />
        <div class="title">Описание:</div>
        <textarea type="text" maxlength="300" name="description" class="text textarea" v-model="club.description">
              {club.description}
          </textarea
        >
      </div> -->
      <!-- Нужно будет написать функцию submitMainPhoto для сохранения фото в базу -->

      <label for="file-input" class="relative overflow-hidden rounded-md w-96 cursor-pointer">
        <input
          id="file-input"
          type="file"
          name="main_photo"
          accept="image/*"
          class="hide-input"
          @change="handleMainPhoto($event.target.files[0])"
        />
        <div class="z-10 bg-black opacity-25 absolute w-full h-full"></div>
        <img :src="club.photo" alt="photo" class="absolute w-full h-full opacity-100 object-cover" />
        <div class="z-10 text-white relative flex flex-col items-center justify-center h-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
          <div class="">Изменить основную фотографию</div>
        </div>
      </label>
    </div>
    <!-- 
    <div class="price-block">
      <div class="title">Цена:</div>
      <div class="types">
        <div class="text active left" onclick="switchPriceType(this, 'default')">Цена</div>

      </div>
      <div class="prices">
        <div class="item active left">
          <input
            type="number"
            name="default_price"
            max="99"
            min="1"
            maxlength="2"
            oninput="maxLengthCheck(this)"
            class="price"
            value="50"
          />
          <span class="span">тг/мин</span>
        </div>

      </div>
    </div> -->

    <div class="flex flex-col items-start mt-8 gallery">
      <div class="title">Галерея:</div>
      <div class="grid grid-cols-3 w-full justify-start h-64 gap-4">
        <label
          for="upload_photo"
          class="
            flex
            justify-center
            items-center
            flex-col
            text-gray-400
            w-full
            h-full
            rounded-md
            border-4 border-gray-400 border-dashed
          "
        >
          <input
            id="upload_photo"
            type="file"
            name="photo"
            class="hide-input"
            accept="image/*"
            @change.prevent="handleGalleryPhoto($event.target.files)"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
          <div class="text">Добавить фотографию</div>
        </label>
        <div v-for="(galleryImage, i) in club.gallery" :key="i" class="w-full h-full flex flex-col">
          <img class="w-full h-full mb-4 rounded-md" :src="galleryImage.M" alt="thumbnail" />
          <div class="flex justify-center items-center">
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="contacts">
      <div class="title">Контактные данные:</div>
      <div class="contact-block">
        <input placeholder="Телефон" v-model="club.phoneNumber" class="item" type="tel" value="+7 701 124 26 93" />
        <input placeholder="Email" v-model="club" class="item" type="email" value="email@mail.ru" />
      </div>
    </div> -->
    <button class="save-button mb-8" @click.prevent="createClub">Сохранить</button>
  </div>
</template>

<script>
  import {createClubMutation} from '../../graphql/mutations/createClub';
  export default {
    data() {
      return {
        club: {
          photo: null,
          gallery: [],
        },
      };
    },
    // FIXME: rewrite createClub mutation
    methods: {
      createClub() {
        this.$axios.post('/graphql', {
          query: createClubMutation,
          variables: {
            _id: '1234',
            address: '280 Bayzakov',
            averagePrice: 420.69,
            city: 'Joe Mama',
            contact: 'Joe Mama',
            coordinates: 'Joe Mama',
            description: 'Phat',
            gallery: this.club.gallery,
            name: 'Ass',
            photo: this.club.photo,
          },
        });
      },
      handleMainPhoto(filelist) {
        const formData = new FormData();
        formData.append('files', filelist[0]);
        this.club.photo = formData;
      },
      handleGalleryPhoto(filelist) {
        const formData = new FormData();
        formData.append('files', filelist[0]);
        this.club.gallery = formData;
      },
    },
  };
</script>
