<template>
  <div id="main_settings" class="main-settings flex flex-col justify-evenly items-start active mt-8">
    <div class="info-block">
      <div class="info">
        <div class="title">Адрес:</div>
        <input v-model="club.address" type="text" name="addres" class="text" />
        <div class="title">Описание:</div>
        <textarea v-model="club.description" type="text" maxlength="300" name="description" class="text textarea">
              {club.description}
          </textarea
        >
      </div>
      <!-- Нужно будет написать функцию submitMainPhoto для сохранения фото в базу -->

      <label for="file-input" class="relative overflow-hidden rounded-md w-96 cursor-pointer">
        <input
          id="file-input"
          type="file"
          name="main_photo"
          accept="image/*"
          class="hide-input"
          @change="uploadMainImage($event.target.files)"
        />
        <div class="z-10 bg-black opacity-25 absolute w-full h-full"></div>
        <img :src="clubImage" alt="photo" class="absolute w-full h-full opacity-100 object-cover" />
        <div class="z-10 text-white relative flex flex-col items-center justify-center h-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
          <div class="">Изменить основную фотографию</div>
        </div>
      </label>
    </div>

    <div class="price-block">
      <div class="title">Цена:</div>
      <div class="types">
        <div class="text active left" onclick="switchPriceType(this, 'default')">Цена</div>
        <!-- <div class="text right" onclick="switchPriceType(this, 'stock')">
            Акционная цена
          </div> -->
      </div>
      <div class="prices">
        <div class="item active left">
          <input
            type="number"
            name="default_price"
            max="99"
            min="1"
            maxlength="2"
            oninput="maxLengthCheck(this)"
            class="price"
            value="50"
          />
          <span class="span">тг/мин</span>
        </div>
        <!-- <div class="item right">
            <input
              type="number"
              name="stock_price"
              max="99"
              min="1"
              maxlength="2"
              oninput="maxLengthCheck(this)"
              class="price"
              value="50"
            />
            <span class="span">тг/мин</span>
          </div> -->
      </div>
    </div>

    <div class="flex flex-col flex-auto items-start mt-8">
      <div class="title">Галерея:</div>
      <div class="grid grid-cols-3 w-full justify-start gap-4">
        <label
          for="upload_photo"
          class="
            flex
            justify-center
            items-center
            flex-col
            text-gray-400
            w-full
            h-full
            rounded-md
            border-4 border-gray-400 border-dashed
          "
        >
          <input
            id="upload_photo"
            type="file"
            name="photo"
            class="hide-input"
            accept="image/*"
            @change.prevent="uploadGalleryImage($event.target.files)"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
          <div class="text">Добавить фотографию</div>
        </label>
        <div v-for="(galleryImage, i) in clubGallery" :key="i" class="w-full h-full flex flex-col">
          <img class="w-full h-full mb-4 rounded-md" :src="galleryImage.M" alt="thumbnail" />
          <div class="flex justify-center items-center">
            <button @click.prevent="deleteImage(galleryImage)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts">
      <div class="title">Контактные данные:</div>
      <div class="contact-block">
        <input
          v-model="club.contact.phoneNumber"
          placeholder="Телефон"
          class="item"
          type="tel"
          value="+7 701 124 26 93"
        />
        <input v-model="club.contact.email" placeholder="Email" class="item" type="email" value="email@mail.ru" />
      </div>
    </div>
    <!-- <div class="contacts">
        <div class="title">Контактные данные:</div>
        <div class="contact-block">
          <input class="item" type="tel" value="+7 701 124 26 93" />
          <input class="item" type="email" value="email@mail.ru" />
        </div>
        <div class="contact-block">
          <input class="item" type="tel" value="+7 701 124 26 93" />
          <input class="item" type="email" value="email@mail.ru" />
          <div class="delete" onclick="deleteContact(this)"></div>
        </div>
        <div class="add-contact" onclick="addContact(this)">
          <div class="plus"></div>
          <div class="text">Добавить контактные данные</div>
        </div>
      </div> -->
    <button class="save-button mb-8" @click.prevent="updateClub">Сохранить</button>
  </div>
</template>

<script>
  import gql from 'graphql-tag';
  import {editClubAdmin} from '../../graphql/mutations/editClub';
  import GET_CLUB_ADMIN_OWNER from '../../graphql/queries/getClubAdminOwner';
  export default {
    data() {
      return {
        club: {
          contact: {
            phone: '',
            email: '',
          },
          galleryURLs: [],
          photoURL: null,
        },
        galleryImage: null,
        mainImage: null,
        galleryImageBuffer: [],
      };
    },
    computed: {
      clubImage() {
        return this.club?.photoURL?.M;
      },
      clubGallery() {
        return this.club?.galleryURLs ?? [];
      },
    },
    mounted() {
      this.getData();
    },
    methods: {
      getData() {
        this.$apollo
          .query({
            query: GET_CLUB_ADMIN_OWNER,
            context: {
              headers: {
                Authorization: localStorage.getItem('JWT'),
              },
            },
          })
          .then(res => {
            this.club = res.data.getClubAdminOwner;
          });
      },
      uploadMainImage(filelist) {
        this.club.photo = filelist[0];
      },
      updateClub() {
        const id = localStorage.getItem('CLUB_ID');

        const formData = new FormData();
        const operations = {
          query: editClubAdmin,
          variables: {
            _id: id,
            address: this.club.address,
            averagePrice: this.club.averagePrice,
            city: this.club.city,
            contact: {
              email: this.club.contact.email,
              phoneNumber: this.club.contact.phoneNumber,
            },
            cordinates: {
              lat: this.club.cordinates.lat,
              lng: this.club.cordinates.lng,
            },
            description: this.club.description,
            gallery: null,
            name: this.club.name,
            photo: null,
          },
        };
        const map = {
          photo: ['variables.photo'],
          gallery: ['variables.gallery'],
        };
        if (!this.galleryImage) delete map.gallery;
        if (!this.mainImage) delete map.photo;
        formData.append('operations', JSON.stringify(operations));
        formData.append('map', JSON.stringify(map));
        formData.append('gallery', this.galleryImage);
        formData.append('photo', this.mainImage);
        this.$axios
          .post('graphql', formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
              Authorization: localStorage.getItem('JWT'),
              'Access-Control-Allow-Origin': '*',
            },
          })
          .catch(() => alert('Something went wrong'));
      },
      uploadGalleryImage(filelist) {
        this.galleryImage = filelist[0];
      },
      deleteImage(image) {
        this.$apollo
          .mutate({
            mutation: gql`
              mutation ($PhotoURLInput: [PhotoURLInput!]!) {
                deletePhotoGalleryClubOwner(galleryURLs: $PhotoURLInput) {
                  galleryURLs {
                    M
                    XL
                    thumbnail
                  }
                }
              }
            `,
            variables: {
              PhotoURLInput: [{M: image.M, XL: image.XL, thumbnail: image.thumbnail}],
            },
            context: {
              headers: {
                Authorization: localStorage.getItem('JWT'),
              },
            },
          })
          .then(() => {});
      },
    },
  };
</script>

<style></style>
