<template>
  <!-- ГРАФИК РАБОТЫ -->
  <div>
    <div class="flex items-center justify-between my-4">
      <h3 class="text-2xl">График работы:</h3>
      <button class="text-gray-500 font-semibold" @click.prevent="showAddService(null)">+ Добавить секцию</button>
    </div>
    <div class="grid grid-cols-2 gap-8">
      <service-card
        v-for="(serviceType, i) in servicesTypesEntries"
        :key="i"
        :services="formattedServicesByType(serviceType)"
        :service-type="serviceType"
        @onDeleteService="deleteService($event)"
        @onServiceAdd="showAddService($event)"
      ></service-card>
    </div>
    <modal height="auto" name="add-service">
      <div class="p-6 space-y-4 z-50">
        <h1 class="text-center font-bold text-xl">Добавление услуги</h1>
        <label class="flex flex-col items-start">
          <span class="mb-2 font-semibold text-sm">Тип тренировки:</span>
          <input
            v-model="serviceCreationData.type"
            class="border rounded-md border-purple-500 w-full p-2"
            type="text"
            placeholder="Тип тренировки"
          />
        </label>
        <form class="w-full">
          <div class="w-full flex justify-evenly items-center text-sm font-semibold text-lg">
            <label
              v-for="(weekday, i) in serviceCreationData.weekStrings"
              :key="i"
              class="cursor-pointer flex items-center justify-center"
            >
              <input
                id="i"
                v-model="serviceCreationData.weekdayIndex"
                type="radio"
                name="weekday"
                :value="i"
                class="capitalize hidden"
              />
              <span v-if="serviceCreationData.weekdayIndex === i" class="text-purple-500">{{ weekday }}</span>
              <span v-else>{{ weekday }}</span>
            </label>
          </div>
        </form>
        <div class="grid grid-cols-2 gap-4">
          <div class="fles flex-col">
            <span class="font-semibold text-sm">Время начала:</span>
            <VueTimepicker
              v-model="serviceCreationData.startTimeValue"
              close-on-complete
              :minute-interval="10"
            ></VueTimepicker>
          </div>
          <div class="flex flex-col">
            <span class="font-semibold text-sm">Время конца:</span>
            <VueTimepicker
              v-model="serviceCreationData.endTimeValue"
              close-on-complete
              :minute-interval="10"
            ></VueTimepicker>
          </div>
        </div>
        <label class="flex flex-col items-start">
          <span class="mb-2 font-semibold text-sm">Цена за минуту:</span>
          <input
            v-model="serviceCreationData.price"
            class="border rounded-md border-purple-500 w-full p-2"
            type="number"
            placeholder="Цена за минуту"
          />
        </label>
        <label class="flex flex-col items-start">
          <span class="mb-2 font-semibold text-sm">Кол-во людей:</span>
          <input
            v-model="serviceCreationData.capacity"
            class="border rounded-md border-purple-500 w-full p-2"
            type="number"
            placeholder="Кол-во людей"
          />
        </label>
        <button class="bg-purple-500 px-6 py-1 rounded-md text-white font-semibold" @click.prevent="submitService">
          Сохранить
        </button>
      </div>
    </modal>
  </div>
</template>

<script>
  import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue';

  // CSS
  import gql from 'graphql-tag';
  import ServiceCard from '~/components/ServiceCard.vue';

  const CLUB_SERVICES = gql`
    query {
      getServicesOwner {
        _id
        startTime
        endTime
        capacity
        type
        price
      }
    }
  `;

  const CREATE_SERVICE = gql`
    mutation (
      $capacity: Float!
      $endTime: DateTime!
      $name: String!
      $price: Float!
      $startTime: DateTime!
      $type: String
    ) {
      createServiceOwner(
        capacity: $capacity
        endTime: $endTime
        name: $name
        price: $price
        startTime: $startTime
        type: $type
      ) {
        name
        startTime
        endTime
        _id
      }
    }
  `;

  const DELETE_SERVICE = gql`
    mutation ($serviceId: String!) {
      deleteServiceOwner(serviceId: $serviceId)
    }
  `;

  export default {
    components: {ServiceCard, VueTimepicker},
    data() {
      return {
        services: [],
        servicesByType: {},
        showServiceCreation: true,
        serviceCreationData: {
          startTimeValue: {HH: '10', mm: '05', ss: '00'},
          endTimeValue: {HH: '10', mm: '05', ss: '00'},
          capacity: 0,
          price: 0,
          type: '',
          weekdayIndex: 0,
          weekStrings: ['пн', 'вт', 'ср', 'чр', 'пт', 'сб', 'вс'],
        },
      };
    },
    computed: {
      servicesTypesEntries() {
        return Object.keys(this.servicesByType);
      },
    },
    mounted() {
      this.$apollo
        .query({
          query: CLUB_SERVICES,
          variables: {
            page: 1,
          },
          context: {
            headers: {
              Authorization: localStorage.getItem('JWT'),
            },
          },
        })
        .then(res => {
          this.services = res.data.getServicesOwner;
          this.services = this.services.filter(el => el.type);
          const data = {};
          this.services.forEach(el => {
            const isArray = Array.isArray(data[el.type]);
            if (!isArray) {
              return (data[el.type] = [el]);
            }
            return data[el.type].push(el);
          });
          this.servicesByType = data;
        });
    },
    methods: {
      formatService(service) {
        const startDate = new Date(service.startTime);
        const endDate = new Date(service.endTime);
        return {
          startDateObj: {
            date: startDate,
            weekday: (Number(startDate.getDay()) + 6) % 7,
            time: (Number(startDate.toTimeString()) + 6) % 7,
          },
          endDateObj: {
            date: endDate,
            weekday: endDate.getDay(),
            time: endDate.toTimeString(),
          },
          ...service,
        };
      },
      sortServicesByWeekday(services = []) {
        /** Добавляет сервис ко дню недели. */
        const addItemToIndex = (index, value, data) => {
          const isArray = Array.isArray(data[index]);
          if (!isArray) {
            return (data[index] = [value]);
          }
          return data[index].push(value);
        };
        const data = {};
        services.map(el => addItemToIndex(el.startDateObj.weekday, el, data));
        return data;
      },
      formattedServicesByType(type) {
        const formattedServices = this.servicesByType[type].map(this.formatService);
        return this.sortServicesByWeekday(formattedServices);
      },
      showAddService(props) {
        if (props) {
          this.serviceCreationData.type = props.type;
          this.serviceCreationData.weekdayIndex = props.weekdayIndex;
        }
        this.$modal.show('add-service', {height: 'auto'});
      },
      async submitService() {
        const useISOTimes = () => {
          const setTime = ({weekday, hours, minutes}, date) => {
            const daytoset = weekday;
            const currentDay = date.getDay();
            const distance = daytoset - currentDay;
            date.setDate(date.getDate() + distance);
            date.setHours(hours);
            date.setMinutes(minutes);
            return date;
          };

          const startTime = setTime(
            {
              weekday: this.serviceCreationData.weekdayIndex,
              hours: this.serviceCreationData.startTimeValue.HH,
              minutes: this.serviceCreationData.startTimeValue.mm,
            },
            new Date(),
          );

          const endTime = setTime(
            {
              weekday: this.serviceCreationData.weekdayIndex,
              hours: this.serviceCreationData.endTimeValue.HH,
              minutes: this.serviceCreationData.endTimeValue.mm,
            },
            new Date(),
          );

          return [startTime, endTime];
        };

        const resetCreationService = () => {
          this.serviceCreationData = {
            startTimeValue: {HH: '10', mm: '05', ss: '00'},
            endTimeValue: {HH: '10', mm: '05', ss: '00'},
            capacity: 0,
            price: 0,
            type: '',
            weekdayIndex: 0,
            weekStrings: ['пн', 'вт', 'ср', 'чр', 'пт', 'сб', 'вс'],
          };
          this.$modal.hide('add-service');
        };

        const [startTime, endTime] = useISOTimes();
        console.log(startTime, endTime);
        try {
          await this.$apollo.mutate({
            mutation: CREATE_SERVICE,
            variables: {
              startTime: startTime.toISOString(),
              endTime: endTime.toISOString(),
              price: parseInt(this.serviceCreationData.price),
              capacity: parseInt(this.serviceCreationData.capacity),
              clubId: localStorage.getItem('CLUB_ID'),
              type: this.serviceCreationData.type,
              name: this.serviceCreationData.type,
            },
            context: {
              headers: {
                Authorization: localStorage.getItem('JWT'),
              },
            },
          });
          resetCreationService();
        } catch (error) {
          alert('Неизвестная ошибка! Обратитесь в поддержку.');
          this.$modal.hide('add-service');
        }
      },
      async deleteService(props) {
        console.log(props);
        await this.$apollo
          .mutate({
            mutation: DELETE_SERVICE,
            variables: {
              serviceId: props._id,
            },
            context: {
              headers: {
                Authorization: localStorage.getItem('JWT'),
              },
            },
          })
          .then(res => {});
      },
    },
  };
</script>

<style></style>
