<template>
  <div class="flex flex-col">
    <div class="flex space-x-24 mb-8">
      <div class="text-2xl font-bold w-max">Поступающие Брони</div>
      <div class="">
        <div class="icon"></div>
        <input class="w-38" placeholder="Поиск..." />
      </div>
    </div>
     <div class="grid grid-cols-5 place-items-center p-4 bg-primary rounded-xl mb-2">
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Телефон</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Время старта</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Услуга</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Таймер</h3></th>
      </div>
      <div class="flex flex-col">
        <th>
          <h3 class="text-xl text-white font-bold font-sans">Отменить</h3>
        </th>
      </div>
    </div>
    <div v-for="(reservation, index) in reservations" :key="reservation.id" class="">
      <row-item :key="index" :reservation="reservation" :upcoming="true" @delete="deleteHandle(index)" />
    </div>
  </div>
  </div>
</template>
// TODO: create request for canceled
<script>
  export default {
    data() {
      return {
        reservations: [],
      };
    },
    mounted() {
      // this.reservations = require('../../data/dummy.training.json');
    },
    methods: {
      sorting(by, type) {},
      deleteHandle(index) {
        this.reservations.splice(index, 1);
      },
    },
  };
</script>
