<template>
  <div class="flex flex-col">
    <div class="flex space-x-24 mb-8">
      <div class="text-2xl font-bold w-max">Сейчас тренируются</div>
      <div class="">
        <div class="icon"></div>
        <input class="w-38" placeholder="Поиск..." />
      </div>
    </div>
    <div class="grid grid-cols-5 place-items-center p-4 bg-primary rounded-xl mb-2">
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Телефон</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Время старта</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Услуга</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Таймер</h3></th>
      </div>
      <div class="flex flex-col">
        <th>
          <h3 class="text-xl text-white font-bold font-sans">Завершить</h3>
        </th>
      </div>
    </div>
    <div v-for="(reservation, index) in reservations" :key="reservation.id" class="">
      <row-item
        :key="index"
        :phone-number="reservation.user.phoneNumber"
        :userId="reservation.user._id"
        :serviceId="reservation.stack[0].service._id"
        :start-time="reservation.stack[0].service.startTime"
        :end-time="reservation.stack[0].service.endTime"
        :name="reservation.stack[0].service.name"
        @endTraining="deleteHandle(index)"
      />
    </div>
  </div>
</template>

<script>
  import getCurrentSessionsOwner from '~/graphql/queries/currentSessions';
  export default {
    data() {
      return {
        reservations: [],
      };
    },
    mounted() {
      this.$apollo
        .query({
          query: getCurrentSessionsOwner,
          variables: {
            page: 1,
          },
          context: {
            headers: {
              Authorization: localStorage.getItem('JWT'),
            },
          },
        })
        .then(res => {
          this.reservations = res.data.getCurrentSessionsOwner;
          console.log('Current!', this.reservations);
        });
    },

    methods: {
      sorting(by, type) {},
      deleteHandle(index) {
        this.reservations.splice(index, 1);
      },
    },
  };
</script>

<style scoped></style>
