<template>
  <div class="flex flex-col min-h-screen">
    <div class="flex space-x-24 mb-8">
      <div class="text-2xl font-bold w-max">Поступающие Брони</div>
      <div class="">
        <div class="icon"></div>
        <input class="w-38" placeholder="Поиск..." />
      </div>
    </div>
    <div class="grid grid-cols-5 place-items-center p-2 bg-primary rounded-xl mb-2">
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Телефон</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Время старта</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Услуга</h3></th>
      </div>
      <div class="">
        <th><h3 class="text-xl text-white font-bold font-sans">Таймер</h3></th>
      </div>
      <div class="flex flex-col">
        <th>
          <h3 class="text-xl text-white font-bold font-sans">Отменить /</h3>
          <h3 class="text-xl text-white font-bold font-sans">Начать</h3>
        </th>
      </div>
    </div>
    <div v-for="(reservation, index) in reservations[0]" :key="reservation.id" class="">
      <row-item
        :key="index"
        :service-id="reservation.service._id"
        :user-id="reservation.user._id"
        :phone-number="reservation.user.phoneNumber"
        :start-time="reservation.service.startTime"
        :end-time="reservation.service.endTime"
        :name="reservation.service.name"
        :upcoming="true"
        @delete="deleteHandle(index)"
        @start="startHandle(index)"
      />
    </div>
  </div>
</template>
<script>
  import getUpcomingBookingsOwner from '~/graphql/queries/getUpcomingBookingsOwner';
  // import finishTraining from '~/graphql/mutations/finishTraining';
  // import startSession from '~/graphql/mutations/startSession';
  export default {
    data() {
      return {
        reservations: [],
        loading: false,
      };
    },
    mounted() {
      this.loading = true;
      this.$apollo
        .query({
          query: getUpcomingBookingsOwner,
          variables: {
            page: 1,
          },
          context: {
            headers: {
              Authorization: localStorage.getItem('JWT'),
            },
          },
        })
        .then(res => {
          this.reservations.push(res.data.getUpcomingBookingsOwner);
          this.loading = false;
          console.log('Bookings!', this.reservations[0]);
        });
    },
    methods: {
      // TODO: finish up this func
      deleteHandle(index) {
        this.reservations.splice(index, 1);
        // this.$apollo.mutate({
        //   mutation: finishTraining,
        //   variables: {
        //     clubId: localStorage.getItem('CLUB_ID'),
        //   },
        //   context: {
        //     headers: {
        //       Authorization: localStorage.getItem('JWT'),
        //     },
        //   },
        // });
      },
      // TODO: finish up this func
      startHandle(index) {
        this.reservations.splice(index, 1);
      },
      // TODO: finish up this func
      startHandle(index) {
        this.reservations.splice(index, 1);
      },
    },
  };
</script>
